<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Example</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Welcome to Thymeleaf!</h1>

<p th:text="'Hello, ' + ${userName} + '! This is Thymeleaf.'"></p>

<div>
    <p>Current Date and Time: <span th:text="${currentDate}"></span></p>
</div>

<!-- Login Button -->
<div>
    <button onclick="window.location.href='/login'">Login</button>
</div>

<!-- Register Button -->
<div>
    <button onclick="window.location.href='/register'">Register</button>
</div>

</body>
</html>
