<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<main>
    <h1>Register</h1>

    <div class="error" th:if="${error}">
        <span th:text="${error}">Registration failed. Please check your details.</span>
    </div>

    <form th:action="@{/register}" method="post" th:object="${user}">
        <div>
            <label for="firstName">First Name:</label>
            <input id="firstName" required th:field="*{firstName}" type="text">
            <span class="error" th:errors="*{firstName}"></span>
        </div>

        <div>
            <label for="lastName">Last Name:</label>
            <input id="lastName" required th:field="*{lastName}" type="text">
            <span class="error" th:errors="*{lastName}"></span>
        </div>

        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required>
            <span class="error" th:errors="*{username}"></span>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" required>
            <span class="error" th:errors="*{password}"></span>
        </div>

        <div>
            <label for="email">Email:</label>
            <input id="email" required th:field="*{email}" type="email">
            <span class="error" th:errors="*{email}"></span>
        </div>

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
</main>
</body>
</html>